{% extends 'base.html' %}
{% load static %}

{% block title %}Create New Puzzle – {{ block.super }}{% endblock %}

{% block head %}
<script type="text/javascript">
    var rawTiles = "{{ puzzle.tiles|escapejs }}";
    var rows = {{ num_rows }};
    var columns = {{ num_columns }};
    var emptyChar = '{{ empty_char }}';
</script>
<style type="text/css">
    .column {
        display: inline-block;
    }
</style>
{% endblock head %}

{% block content %}
<h1>Create New Puzzle</h1>
<form action="{% url 'unblock:create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<div>
    <canvas
      id="canvas" class="column"
      width={{ canvas_width }} height={{ canvas_height }}>
    </canvas>
    <canvas
      id="palette" class="column"
      width={{ palette_width }} height={{ palette_height }}>
    </canvas>
</div>
<script
  type="text/javascript" src="{% static 'unblock/grid.js' %}">
</script>
<script
  type="text/javascript" src="{% static 'unblock/create.js' %}">
</script>
{% endblock content %}
