<!DOCTYPE html>
<html>
    <head>
        <title>Latest Puzzles</title>
    </head>
    <body>
    {% if latest_puzzle_list %}
        <table>
        {% for puzzle in latest_puzzle_list %}
            <tr>
                <td><a href="{% url 'unblock:puzzle' puzzle.id %}">
                    {{ puzzle.name }}
                </a></td>
                <td>
                    {% if puzzle.creator %}
                    {{ puzzle.creator.username }}
                    {% endif %}
                </td>
                <td>
                    {% if puzzle.rating %}
                    {{ puzzle.rating }}★
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No puzzles are available.</p>
    {% endif %}
    </body>
</html>
