{% extends 'base.html' %}

{% block title %}{{ puzzle.name }} – {{ block.super }}{% endblock %}

{% block head %}
{% load static %}
<script type="text/javascript">
    {# Take advantage of common syntax between JavaScript and Python #}
    tiles = {{ tiles }};
</script>
<script
  type="text/javascript"
  defer
  src="{% static 'unblock/play.js' %}">
</script>
{% endblock head %}

{% block content %}
<h1>{{ puzzle.name }}</h1>
{% if puzzle.creator %}
<p>Created by {{ puzzle.creator.username }}</p>
{% endif %}
<p>{{ puzzle.moves }} move{{ puzzle.moves|pluralize }}</p>
<canvas id="canvas" width=300 height=600></canvas>
<noscript>
    <table>
    {% for row in tiles %}
        <tr>
        {% for tile in row %}
            <td>{{ tile }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</noscript>
{% endblock content %}
