{% extends 'base.html' %}

{% block title %}{{ puzzle.name }} – {{ block.super }}{% endblock %}

{% block head %}
{% load static %}
<script type="text/javascript">
    {# Take advantage of common syntax between JavaScript and Python #}
    var rawTiles = {{ tiles }};
</script>
<script
  type="text/javascript" defer src="{% static 'unblock/grid.js' %}">
</script>
<script
  type="text/javascript" defer src="{% static 'unblock/play.js' %}">
</script>
<style type="text/css">
    .column {
        display: inline-block;
        vertical-align: top;
    }
</style>
{% endblock head %}

{% block content %}
<div class="column">
    <h1>{{ puzzle.name }}</h1>
    {% if puzzle.creator %}
    <p>Created by {{ puzzle.creator.username }}</p>
    {% endif %}
    <p>Moves: <span id="moves_remaining">{{ puzzle.moves }}</p>
</div>
<div class="column">
    <canvas id="canvas" width=300 height=600></canvas>
    <noscript>
        <table>
        {% for row in tiles %}
            <tr>
            {% for tile in row %}
                <td>{{ tile }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </noscript>
</div>
{% endblock content %}
